* {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    margin: 0;
    padding: 0;
    word-break: keep-all;
    box-sizing: border-box;
    /*    border: 1px solid rgba(0, 0, 0, 0.1);*/
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a img {
    border: 0;
}

/*script*/

.rulerChart .tick text {
    font-size: 1.3rem;
    fill: #f6ecdd;
}

/*//공동*/

body {
    background-color: #ff7a2a;
}


/*part-----------------------------------------*/

@media screen and (max-width: 500px) {
    #mainChart text {
        font-size: 1rem !important;
    }

    .top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 400 !important;

    }
    .wrap {
        width: 100%;
    }
    .title {
        position: relative;
        left: 0.6rem;
        top: 1rem;
        font-weight: 900;
        font-size: 1.7rem;
        line-height: 2.2rem;
        width: 22rem;
    }
    .title a {
        font-weight: 900;
    }
    .title a:hover {
        color: #f6ecdd;
    }
    /*head------------------------------------------*/
    header {
        position: absolute;
        top: 7rem;
        left: 1rem;
        right: 0;
        z-index: 700 !important;
    }

    .rulerWrap {
        position: absolute;
        top: 9rem;
        left: 0.5rem;
    }
    .headerbackground {
        background-color: #ff7a2a;
        position: absolute;
        left: 0;
        right: 0;
        height: 23px;
    }
    .wordPadding {
        position: relative;
        left: -2px;
    }
    .menuIcon {
        height: 2.2rem;
        width: 5rem;
        position: absolute;
        top: -6.4rem;
        right: 0;
        line-height: 3.4rem;
        z-index: 7000 !important;
        text-align: center;
        cursor: url(images/download.png) 20 24, auto;
    }
    .menuIcon img {
        opacity: 0.98;
        width: 50px;
    }
    .menuIcon li {
        width: 20px;
        height: 3px;
        margin-bottom: 3px;
        background-color: black;
        list-style-type: none;
    }

    .menuBox {
        display: none;
    }

    .menu {
        position: absolute;
        top: 1rem;
        left: -1rem;
        right: 0;
        padding-right: 0;
        box-shadow: 2px 2px 2px solid grey;
        border: 1px solid #000;
        background-color: black;
    }

    .menu li {
        list-style-type: none;
        width: 100%;
        color: #ff7a2a;
        background-color: #000;
        font-size: 1.5rem;
        margin: 0 !important;
        padding: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 0.7rem;
        margin-bottom: 2px;
        /*        line-height: 2rem;*/
        cursor: url(images/download.png) 20 24, auto;
    }
    .menu li:nth-child(1):hover {
        border: 2px solid #000;
    }
    .menu li:hover {
        text-decoration: underline;
        color: #000;
        background-color: #ff7a2a;
        font-weight: 600;
        border: none;
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a {
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a:link {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:visited {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:hover {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:active {
        text-decoration: none;
        color: #f6ecdd !important;
    }
    .first {
        font-weight: 800 !important;
    }
    /*middle-------------------------------------------*/
    .context {
        position: absolute;
        left: 1.5rem;
        right: 0;
        top: 9rem;
        margin-bottom: 1rem;
    }

    .context div {
        margin-bottom: 1rem;
    }

    .paragraphDiv {
        width: 100%;
        position: relative;
        top: -2rem;
        z-index: 600 !important;
        margin-bottom: 0 !important;
        background-color: #ff7a2a;
    }
    p {
        width: 90%;
        font-size: 1.3rem;
        line-height: 2.2rem;
        margin-bottom: 2rem;
    }

    .bottom {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .bottom p {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.8rem;
        padding-bottom: 0;
        padding: 0;
        margin: 0 !important;
    }

    .bottom ul {
        font-size: 0.9rem;
        list-style-type: none;
        margin-top: 0.7rem;
    }

    .bottom li {
        float: left;
        padding-right: 2em;
    }

    .hideMobile {
        display: none;
    }

    #pie {
        padding-left: 38px !important;
        padding-top: 1rem;
    }
    .buttons {
        display: block;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        cursor: url(images/download.png) 20 24, auto;
    }
    button {
        width: 20%;
        background-color: black;
        color: #ff7a2a;
        height: 1.1rem;
        line-height: 0;
        padding-top: 0.6rem;
        padding-bottom: 0.7rem;
        font-size: 1rem;
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 0 !important;
        margin-right: 0.2rem !important;
        cursor: url(images/download.png) 20 24, auto;
    }
    button:active {
        outline: none;
        border: 1px solid #f6ecdd;
        background-color: #f6ecdd;
        color: #222 !important;
    }
    button:focus {
        background-color: #f6ecdd;
        border: 1px solid #f6ecdd;
        color: #222;
    }


}

@media screen and (min-width: 501px) and (max-width: 767px) {

    .top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 400 !important;

    }
    .title {
        position: relative;
        left: 1.5rem;
        top: 2.3rem;
        width: 50rem;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .title a {
        font-weight: 900;
    }
    .title a:hover {
        color: #f6ecdd;
    }
    /*head------------------------------------------*/
    header {
        position: fixed;
        top: 10rem;
        left: 1.5rem;
        right: 0;
        z-index: 700 !important;

    }

    .rulerWrap {
        position: fixed;
        top: 10rem;
        left: 1rem;
        height: 2rem;
        z-index: 500 !important;
    }

    .headerbackground {
        background-color: #ff7a2a;
        position: absolute;
        left: 0;
        right: 0;
        height: 23px;
    }
    .wordPadding {
        position: relative;
        left: -2px;
    }

    .menuIcon {
        height: 4rem;
        width: 4rem;
        line-height: 4.5rem;
        position: fixed;
        right: 2rem;
        top: 1.8rem;
        z-index: 7000 !important;
        text-align: center;
        cursor: url(images/download.png) 20 24, auto;
    }
    .menuIcon img {
        opacity: 0.98;
    }
    .menuIcon li {
        width: 20px;
        height: 3px;
        margin-bottom: 3px;
        background-color: black;
        list-style-type: none;
    }

    .menuBox {
        display: none;
    }

    .menu {
        position: fixed;
        top: 9rem;
        right: 0;
        left: 0;
        padding-right: 0;
        box-shadow: 2px 2px 2px solid grey;
        border: 1px solid #000;
        background-color: black;
    }

    .menu li {
        height: 5rem;
        line-height: 5rem;
        padding-left: 2rem;
        width: 100%;
        color: #ff7a2a;
        background-color: #000;
        font-weight: 600;
        border: 1px solid #000;
        font-size: 1.7rem;
        margin: 0 !important;
        padding-right: 0.7rem;
        margin-bottom: 2px;
        list-style-type: none;
        position: relative;
        cursor: url(images/download.png) 20 24, auto;

    }
    .menu li:nth-child(1):hover {
        border: 2px solid #000;
    }
    .menu li:hover {
        text-decoration: underline;
        color: #000;
        background-color: #ff7a2a;
        font-weight: 600;
        border: none;
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a {
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a:link {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:visited {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:hover {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:active {
        text-decoration: none;
        color: #f6ecdd !important;
    }
    .first {
        font-weight: 800 !important;
    }
    /*middle-------------------------------------------*/
    .context {
        position: absolute;
        left: 1.5rem;
        right: 0;
        top: 12rem;
        margin-bottom: 1rem;
    }

    .context div {
        margin-bottom: 1rem;
    }

    .paragraphDiv {
        width: 100%;
        position: relative;
        top: 0;
        z-index: 600 !important;
        margin-bottom: 0 !important;
        background-color: #ff7a2a;
    }
    p {
        width: 90%;
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 3rem;
        margin-bottom: 2rem;

    }
    .bottom {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .bottom p {
        font-size: 1rem;
        line-height: 1.8rem;
        padding-bottom: 0;
        padding: 0;
        margin: 0 !important;
    }

    .bottom ul {
        font-size: 1rem;
        list-style-type: none;
        margin-top: 0;

    }

    .bottom li {
        float: left;
        padding-right: 2em;
    }

    #pie {
        padding-left: 150px !important;
        padding-top: 1rem;
    }
    p.pieChart {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 70%;
        margin-left: 15%;
        font-size: 2rem;
        font-weight: bold;
        line-height: 3.6rem;
        height: 12rem;
    }
    .buttons {
        display: block;
        margin-left: 18%;
        padding-left: 0;
        padding-right: 0;
        cursor: url(images/download.png) 20 24, auto;
    }
    button {
        width: 17%;
        background-color: black;
        color: #ff7a2a;
        height: 1.1rem;
        line-height: 0rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        font-size: 1.3rem;
        outline: none;
        border: none;
        border-radius: 5px;
        margin: 0 !important;
        margin-right: 0.2rem !important;
        cursor: url(images/download.png) 20 24, auto;
    }
    button:active {
        outline: none;
        border: 1px solid #f6ecdd;
        background-color: #f6ecdd;
        color: #222;
    }
    button:focus {
        background-color: #f6ecdd;
        border: 1px solid #f6ecdd;
        color: #222;
    }

}

@media screen and (min-width: 768px) {
    .top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 400 !important;

    }
    .title {
        position: relative;
        left: 2rem;
        top: 2.5rem;
        width: 50rem;
        font-weight: 900;
        font-size: 2.3rem;
        line-height: 2.8rem;
    }
    .title a {
        font-weight: 900;
    }

    .title a:hover {
        color: #f6ecdd;
    }

    /*head------------------------------------------*/
    header {
        position: fixed;
        top: 10rem;
        left: 2rem;
        right: 0;
        z-index: 700 !important;

    }
    .wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .rulerWrap {
        position: absolute;
        top: 10rem;
        left: 2rem;
        height: 2rem;
        z-index: 500 !important;
    }

    .headerbackground {
        background-color: #ff7a2a;
        position: absolute;
        left: 0;
        right: 0;
        height: 23px;
    }

    .wordPadding {
        position: relative;
        left: -2px;
    }

    .menuIcon {
        height: 4rem;
        width: 4rem;
        line-height: 4.5rem;
        position: fixed;
        right: 2.5rem;
        top: 1.8rem;
        z-index: 7000 !important;
        text-align: center;
        cursor: url(images/download.png) 20 24, auto;
    }

    .menuIcon img {
        opacity: 0.98;
    }

    .menuIcon li {
        width: 20px;
        height: 3px;
        margin-bottom: 3px;
        background-color: black;
        list-style-type: none;
    }

    .menuBox {
        display: none;
    }

    .menu {
        position: fixed;
        top: 5rem;
        right: 1rem;
        padding-right: 0;
        width: 40rem;
        box-shadow: 2px 2px 2px solid grey;
        background-color: black;
    }

    /**/
    .menu li {
        height: 4rem;
        line-height: 4rem;
        padding-left: 2rem;
        width: 100%;
        color: #ff7a2a;
        background-color: #000;
        font-weight: 400;
        border: 1px solid #ff7a2a;
        font-size: 1.7rem;
        margin: 0 !important;
        padding-right: 0.7rem;
        margin-bottom: 2px;
        list-style-type: none;
        position: relative;
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu li:nth-child(1):hover {
        border: 2px solid #000;
    }

    .menu li:hover {
        text-decoration: underline;
        color: #000;
        background-color: #ff7a2a;
        font-weight: 600;
        border: none;
    }

    .menu a {
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a:link {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:visited {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:hover {
        text-decoration: none;
        color: #f6ecdd !important;
    }

    .menu a:active {
        text-decoration: none;
        color: #f6ecdd !important;
    }
    .first {
        font-weight: 800 !important;
    }
    /*middle-------------------------------------------*/
    .context {
        position: absolute;
        left: 2rem;
        right: 0;
        top: 8rem;
        margin-bottom: 1rem;
    }
    .context div {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    #pie {
        padding-left: 100px;
        padding-top: 1rem;
    }
    p.pieChart {
        margin-top: 1rem;
        margin-bottom: 3rem;
        width: 70%;
        margin-left: 15%;
        font-size: 1.7rem;
        line-height: 3.2rem;
        font-weight: bold;
        height: 12rem;
    }
    .buttons {
        display: block;
        margin-left: 18%;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        top: -1rem;
        cursor: url(images/download.png) 20 24, auto;
    }
    button {
        width: 17%;
        background-color: black;
        color: #ff7a2a;
        height: 1.1rem;
        line-height: 0rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        font-size: 1.3rem;
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 0 !important;
        margin-right: 0.2rem !important;
        cursor: url(images/download.png) 20 24, auto;
    }
    button:active {
        outline: none;
        border: 1px solid #f6ecdd;
        background-color: #f6ecdd;
        color: #222;
    }
    button:focus {
        background-color: #f6ecdd;
        border: 1px solid #f6ecdd;
        color: #222;
    }
    .bottom li {
        float: left;
        padding-right: 2em;
    }
    .bottom {
        width: 100%;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .bottom p {
        font-size: 1.3rem;
        padding-bottom: 0;
        padding: 0;
        margin: 0 !important;
        font-weight: 600;
    }
    .bottom ul {
        font-size: 1.3rem;
        list-style-type: none;
        margin-top: 0;
    }
    .bottom li {
        float: left;
        padding-right: 2em;
    }
}
