* {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    margin: 0;
    padding: 0;
    word-break: keep-all;
    box-sizing: border-box;
    /*    border: 1px solid rgba(0, 0, 0, 0.1);*/
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a img {
    border: 0;
}

/*//공동*/

#mainChart {
    height: 60px;
    opacity: 1;
    display: none;
}

.rulerChart .tick text {
    font-size: 1.3rem;
    fill: #f6ecdd;
}

#poliecoChart {
    cursor: url(images/pointer.png) 0 5, auto;
}


.poliaxis .domain {
    stroke-width: 2 !important;
    stroke: #f7ecdd;
    opacity: 0.6;
    font-weight: 300 !important;
}

.poliaxis .tick text {
    fill: #f7ecdd !important;
    font-weight: 400;
}



body {
    background-color: #ff9240;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    #poliecoChart {
        position: relative;
        left: -80px;
    }

    .South-KoreapoliCircle {
        fill: #f7ecdd;
        opacity: 1 !important;
    }

    .koreaTip {
        fill: #f7ecdd;
        font-weight: bold;
        text-anchor: middle;
        font-size: 1.4rem !important;
    }

    .South-KoreapoliTip,
    .IcelandpoliTip,
        {
        opacity: 1 !important;
        font-size: 1rem !important;
    }

    .FinlandpoliTip {
        alignment-baseline: text-before-edge;
    }

    .NorwaypoliTip {
        alignment-baseline: text-after-edge;
    }
    .axisName {
        font-size: 1.3rem !important;
    }
    .top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 400 !important;

    }
    .wrap {
        width: 100%;
    }
    .title {
        position: relative;
        left: 1rem;
        top: 1rem;
        font-weight: 900;
        font-size: 1.7rem;
        line-height: 2.4rem;
    }
    .title a {
        font-weight: 900;
    }
    .title a:hover {
        color: #f7ecdd;
    }
    /*head------------------------------------------*/
    header {
        position: absolute;
        top: 7rem;
        left: 1rem;
        right: 0;
        z-index: 700 !important;
    }
    .rulerWrap {
        display: none;
    }
    .headerbackground {
        background-color: #ff9240;
        position: absolute;
        left: 0;
        right: 0;
        height: 23px;
    }
    .wordPadding {
        position: relative;
        left: -2px;
    }
    .menuIcon {
        height: 2.2rem;
        width: 5rem;
        position: absolute;
        top: -6.1rem;
        right: 0.5rem;
        line-height: 3.4rem;
        z-index: 7000 !important;
        text-align: center;
        cursor: url(images/download.png) 20 24, auto;
    }
    .menuIcon img {
        opacity: 0.98;
        width: 60px;
    }
    .menuIcon li {
        width: 20px;
        height: 3px;
        margin-bottom: 3px;
        background-color: black;
        list-style-type: none;
    }

    .menuBox {
        display: none;
    }

    .menu {
        position: absolute;
        top: 4rem;
        left: -1rem;
        right: 0;
        padding-right: 0;
        box-shadow: 2px 2px 2px solid grey;
        border: 1px solid #000;
        background-color: black;
    }

    .menu li {
        list-style-type: none;
        width: 100%;
        color: #ff9240;
        background-color: #000;
        font-size: 1.5rem;
        margin: 0 !important;
        padding: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 0.7rem;
        margin-bottom: 2px;
        /*        line-height: 2rem;*/
        cursor: url(images/download.png) 20 24, auto;
    }
    .menu li:nth-child(1):hover {
        border: 2px solid #000;
    }
    .menu li:hover {
        text-decoration: underline;
        color: #000;
        background-color: #ff9240;
        font-weight: 600;
        border: none;
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a {
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a:link {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:visited {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:hover {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:active {
        text-decoration: none;
        color: #f7ecdd !important;
    }
    .first {
        font-weight: 800 !important;
    }
    /*middle-------------------------------------------*/
    .context {
        position: absolute;
        left: 1.5rem;
        right: 0;
        top: 9rem;
        margin-bottom: 1rem;
    }

    .context div {
        margin-bottom: 1rem;
    }

    .intooltip {
        width: 34rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
        border: 1px solid #444;
        background-color: black;
        color: #ff9240;
        padding: 1rem;
        padding-top: 0.5rem;
    }

    .paragraphDiv {
        width: 100%;
        position: relative;
        top: 0;
        z-index: 600 !important;
        margin-bottom: 0 !important;
        background-color: #ff9240;
    }
    p {
        width: 90%;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2.2rem;
        margin-bottom: 2rem;
    }

    .bottom {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .bottom p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding-bottom: 0;
        padding: 0;
        margin: 0 !important;
    }

    .bottom ul {
        font-size: 1.1rem;
        list-style-type: none;
        margin-top: 0;
    }

    .bottom li {
        float: left;
        padding-right: 2em;
    }
    .pointBold {
        font-size: 900 !important;
    }

    .pointLink {
        background-color: rgba(0, 0, 0, 0.88);
        color: #ff9240;
        font-weight: 400;
        padding-left: 3px;
        padding-right: 3px;
    }

    .pointLink a {
        color: #ff9240;
    }

    .pointLink a {
        color: #f6ecdd;
        opacity: 0.98;
    }

    .koreaPoint {
        color: #f6ecdd;
        font-weight: 700;
    }



}

@media screen and (min-width: 501px) and (max-width: 768px) {
    #poliecoChart {
        position: relative;
        left: -80px;
    }
    .South-Koreatext {
        fill: black;
        font-weight: bold !important;
    }

    .South-KoreapoliCircle {
        fill: #f7ecdd;
        opacity: 1 !important;
    }

    .koreaTip {
        fill: #f7ecdd;
        font-weight: bold;
        text-anchor: middle;
        alignment-baseline: text-after-edge;
        font-size: 1.7rem !important;
    }

    .South-KoreapoliTip {
        display: none;
    }

    .IcelandpoliTip,
    .RewandapoliTip,
    .FinlandpoliTip,
    .NorwaypoliTip {
        opacity: 1 !important;
    }

    .FinlandpoliTip {
        alignment-baseline: text-before-edge;
    }

    .NorwaypoliTip {
        alignment-baseline: text-after-edge;
    }
    .pCircle {
        opacity: 0.4 !important;
    }
    .top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 400 !important;

    }
    .title {
        position: relative;
        left: 1.5rem;
        top: 2.3rem;
        width: 50rem;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .title a {
        font-weight: 900;
    }
    .title a:hover {
        color: #f7ecdd;
    }
    /*head------------------------------------------*/
    header {
        position: fixed;
        top: 10rem;
        left: 1.5rem;
        right: 0;
        z-index: 700 !important;

    }

    .rulerWrap {
        position: fixed;
        top: 10rem;
        left: 1rem;
        height: 2rem;
        z-index: 500 !important;
    }

    .headerbackground {
        background-color: #ff9240;
        position: absolute;
        left: 0;
        right: 0;
        height: 23px;
    }
    .wordPadding {
        position: relative;
        left: -2px;
    }

    .menuIcon {
        height: 4rem;
        width: 4rem;
        line-height: 4.5rem;
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 7000 !important;
        text-align: center;
        cursor: url(images/download.png) 20 24, auto;
    }
    .menuIcon img {
        opacity: 0.98;
    }
    .menuIcon li {
        width: 20px;
        height: 3px;
        margin-bottom: 3px;
        background-color: black;
        list-style-type: none;
    }

    .menuBox {
        display: none;
    }

    .menu {
        position: fixed;
        top: 9rem;
        right: 0;
        left: 0;
        padding-right: 0;
        box-shadow: 2px 2px 2px solid grey;
        border: 1px solid #000;
        background-color: black;
    }

    .menu li {
        height: 5rem;
        line-height: 5rem;
        padding-left: 2rem;
        width: 100%;
        color: #ff9240;
        background-color: #000;
        font-weight: 600;
        border: 1px solid #000;
        font-size: 1.7rem;
        margin: 0 !important;
        padding-right: 0.7rem;
        margin-bottom: 2px;
        list-style-type: none;
        position: relative;
        cursor: url(images/download.png) 20 24, auto;

    }
    .menu li:nth-child(1):hover {
        border: 2px solid #000;
    }
    .menu li:hover {
        text-decoration: underline;
        color: #000;
        background-color: #ff9240;
        font-weight: 600;
        border: none;
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a {
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a:link {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:visited {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:hover {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:active {
        text-decoration: none;
        color: #f7ecdd !important;
    }
    .first {
        font-weight: 800 !important;
    }
    /*middle-------------------------------------------*/
    .context {
        position: absolute;
        left: 1.5rem;
        right: 0;
        top: 7.8rem;
        margin-bottom: 1rem;
    }

    .context div {
        margin-bottom: 1rem;
    }

    .paragraphDiv {
        width: 100%;
        position: relative;
        top: 0;
        z-index: 600 !important;
        margin-bottom: 0 !important;
        background-color: #ff9240;
    }
    p {
        width: 90%;
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 3rem;
        margin-bottom: 2rem;

    }
    .bottom {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .bottom p {
        font-size: 1rem;
        line-height: 1.8rem;
        padding-bottom: 0;
        padding: 0;
        margin: 0 !important;
    }

    .bottom ul {
        font-size: 1rem;
        list-style-type: none;
        margin-top: 0;

    }

    .bottom li {
        float: left;
        padding-right: 2em;
    }
}

@media screen and (min-width: 768px) {

    #poliecoChart {
        position: relative;
        left: -80px;
    }
    .South-Koreatext {
        fill: black;
        font-weight: bold !important;
    }

    .South-KoreapoliCircle {
        fill: #f7ecdd;
        opacity: 1 !important;
    }

    .koreaTip {
        fill: #f7ecdd;
        font-weight: bold;
        text-anchor: middle;
        alignment-baseline: text-after-edge;
        font-size: 1.7rem !important;
    }

    .South-KoreapoliTip {
        display: none;
    }

    .IcelandpoliTip,
    .RewandapoliTip,
    .FinlandpoliTip,
    .NorwaypoliTip {
        opacity: 1 !important;
    }

    .FinlandpoliTip {
        alignment-baseline: text-before-edge;
    }

    .NorwaypoliTip {
        alignment-baseline: text-after-edge;
    }

    .top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 400 !important;

    }
    .title {
        position: relative;
        left: 2rem;
        top: 2.3rem;
        width: 50rem;
        font-weight: 900;
        font-size: 2.3rem;
        line-height: 2.8rem;
    }

    .title a {
        font-weight: 900;
    }

    .title a:hover {
        color: #f7ecdd;
    }

    /*head------------------------------------------*/
    header {
        position: fixed;
        top: 10rem;
        left: 2rem;
        right: 0;
        z-index: 700 !important;

    }

    .rulerWrap {
        position: fixed;
        top: 11rem;
        left: 2rem;
        height: 2rem;
        z-index: 500 !important;
    }

    .headerbackground {
        background-color: #ff9240;
        position: absolute;
        left: 0;
        right: 0;
        height: 23px;
    }

    .wordPadding {
        position: relative;
        left: -2px;
    }

    .menuIcon {
        height: 4rem;
        width: 4rem;
        line-height: 4.5rem;
        position: fixed;
        right: 2.5rem;
        top: 2rem;
        z-index: 7000 !important;
        text-align: center;
        cursor: url(images/download.png) 20 24, auto;

    }

    .menuIcon img {
        opacity: 0.98;
    }

    .menuIcon li {
        width: 20px;
        height: 3px;
        margin-bottom: 3px;
        background-color: black;
        list-style-type: none;
    }

    .menuBox {
        display: none;
    }

    .menu {
        position: fixed;
        top: 5rem;
        right: 1rem;
        padding-right: 0;
        width: 40rem;
        box-shadow: 2px 2px 2px solid grey;
        background-color: black;
    }
    .menu li {
        height: 4rem;
        line-height: 4rem;
        padding-left: 2rem;
        width: 100%;
        color: #ff9240;
        background-color: #000;
        font-weight: 400;
        border: 1px solid #ff9240;
        font-size: 1.7rem;
        margin: 0 !important;
        padding-right: 0.7rem;
        margin-bottom: 2px;
        list-style-type: none;
        position: relative;
    }

    .menu li:nth-child(1):hover {
        border: 2px solid #000;
    }

    .menu li:hover {
        text-decoration: underline;
        color: #000;
        background-color: #ff9240;
        font-weight: 600;
        border: none;

    }

    .menu a {
        cursor: url(images/download.png) 20 24, auto;
    }

    .menu a:link {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:visited {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:hover {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .menu a:active {
        text-decoration: none;
        color: #f7ecdd !important;
    }

    .first {
        font-weight: 800 !important;
    }

    /*middle-------------------------------------------*/
    .context {
        position: absolute;
        left: 2rem;
        right: 0;
        top: 7rem;
        margin-bottom: 1rem;
    }

    .context div {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .paragraphDiv {
        width: 100%;
        position: relative;
        top: -2rem;
        z-index: 600 !important;
        margin-bottom: 0 !important;
        background-image: -webkit-linear-gradient(top, transparent 0, #ff9240 10%);
    }

    p {
        width: 80%;
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 3.6rem;
        padding-top: 1rem;
        margin-bottom: 2rem;

    }

    .bottom {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    .bottom p {
        width: 100%;
        font-size: 1.3rem;
        /*        font-weight: 400;*/
        padding: 0;
        margin: 0 !important;
    }

    .bottom ul {
        font-size: 1.3rem;
        list-style-type: none;
        margin-top: 0;
    }

    .bottom li {
        float: left;
        padding-right: 2rem;
    }


}

/*point_css----------------------------------------------------*/
